.title-container {
    text-align: center;
    background-color: slategray;
}
.title{
    margin:20px;
    font-size: 30px
}
.link {
    text-decoration: none;
    color: black;
    margin: 10px;
}
.link-container {
    border: 2px solid black
}